doctype html
html
  head
    meta(charset='utf-8')
    title  Harry - User
    link(rel='stylesheet', href='/stylesheets/call.css')
  body
    div#stage
        video#bot-video(autoplay='')
        video#user-video(autoplay='')
        div#controls
            button#left(onMouseDown='controls.turnLeft()', onMouseUp='controls.stop()')
            button#forward(onMouseDown='controls.goForward()', onMouseUp='controls.stop()')
            button#backward(onMouseDown='controls.goBackward()', onMouseUp='controls.stop()')            
            button#right(onMouseDown='controls.turnRight()', onMouseUp='controls.stop()')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/vendor/webrtc/adapter.js')
    script(src='/scripts/P2P/Call.js')
    script(src='/scripts/P2P/UserCall.js')
    script(src='/scripts/P2P/BotRemoteControl.js')
    script(src='/scripts/main.js')
