doctype html
html
  head
    meta(charset='utf-8')
    title  Harry - User
    link(rel='stylesheet', href='/stylesheets/call.css')
  body
    div#stage
        video#bot-video(autoplay='')
        div#user-container
            div#user-vision
                div#front-sensor &nbsp;
                div#left-sensor &nbsp;
                video#user-video(autoplay='')
                div#right-sensor &nbsp;
                div#back-sensor &nbsp;
                div#controls
                    button#left
                    button#forward
                    button#backward
                    button#right

    script(src='/socket.io/socket.io.js')
    script(src='/scripts/vendor/webrtc/adapter.js')
    script(src='/scripts/P2P/Call.js')
    script(src='/scripts/P2P/UserCall.js')
    script(src='/scripts/P2P/BotRemoteControl.js')
    script(src='/scripts/main.js')
